<div class="container">
  <div class="card" *ngIf="student">
    <div class="card-body">
      <div class="card-title">Ime i prezime: {{student.ime}} {{student.prezime}} </div>
      <div>JMBAG: {{student.jmbag}}</div>
      <div>Datum upisa: {{student.datumUpisa}}</div>
      <div>Mjesto prebivalista: {{student.mjestoPrebivalista.nazivMjesta}} {{student.mjestoPrebivalista.postBr}}</div>
      <div>Mjesto prebivalista: {{student.mjestoStanovanja.nazivMjesta}} {{student.mjestoStanovanja.postBr}}</div>
      <div style="display: flex; justify-content: space-between">
        <button (click)="goBack()" class="btn btn-primary">Go back</button>
        <button (click)="goEdit()" class="btn btn-success">Edit</button>
      </div>
    </div>
  </div>
</div>
