<form *ngIf="ocjena && student" [formGroup]="ocjenaForm" (ngSubmit)="onSubmit()">
  <div class="container form-group">
    <div class="col-6 mx-auto">
      {{student.ime}} {{student.prezime}} {{student.jmbag}}
    </div>
    <div class="col-6 mx-auto">Datum Polaganja:</div>
    <input class="col-6 mx-auto form-control" formControlName="datumPolaganja" type="date"
      [(ngModel)]="ocjena.datumPolaganja">
    <div class="col-6 mx-auto">
      Vrijeme polaganja:
    </div>
    <input class="col-6 mx-auto form-control" formControlName="vrijemePolaganja" type="text"
      [(ngModel)]="ocjena.vrijemePolaganja">
    <div class="col-6 mx-auto">
      Ocjena:
    </div>
    <input class="col-6 mx-auto form-control" formControlName="ocjena" type="number" [(ngModel)]="ocjena.ocjena">
  </div>
</form>
