<div class="container-fluid">
  <div class="row" style="padding: 10px;">
    <div class="col-6" style="display: flex; justify-content: flex-end">
      <div>
        <button class="btn btn-primary">Add Nastavnik</button>
      </div>
    </div>
    <div class="col-6" style="display: flex; justify-content: flex-end">
      <div>
        <button (click)="navigateToNewStudent()" class="btn btn-primary">Add Student</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Nastavnici:</h3>
      <ul class="list-group" *ngIf="nastavnici">
        <li class="list-group-item" style="cursor: pointer;" *ngFor="let nastavnik of nastavnici">
          {{nastavnik.nastavnik.ime}} {{nastavnik.nastavnik.prezime}} {{nastavnik.nastavnik.jmbg}}, uloga:
          {{nastavnik.ulogaIzvrsitelja.naziv}}
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h3>Studenti:</h3>
      <ul *ngIf="studenti" class="list-group">
        <li (click)="goToStudent(student.student.id)" class="list-group-item" style="cursor: pointer;"
          *ngFor="let student of studenti">
          {{student.student.ime}} {{student.student.prezime}} {{student.student.jmbag}}, ocjena:
          {{student.ocjena.ocjena}}
        </li>
      </ul>
    </div>
  </div>
</div>
