<div class="container" style="padding-top: 30px;">
  <div class="row" style="padding: 5px;">
    <div class="col-12" style="display: flex; justify-content:flex-end">
      <div><button (click)="submitStudenti()" class="btn btn-success">Add Students To Kolegij</button></div>
    </div>
  </div>
  <div class="row" *ngIf="studentiPaginated">
    <ul class="list-group col-6">
      <li (click)="addToVar(student, i)" class="list-group-item" style="cursor: pointer;"
        *ngFor="let student of studentiPaginated?.students; let i = index" [id]="i">
        {{student.ime}} {{student.prezime}} {{student.jmbag}}
      </li>
    </ul>
    <ul class="list-group col-6">
      <li (click)="removeFromVar(student.id)" class="list-group-item"
        *ngFor="let student of odabraniStudenti; let i = index" style="cursor: pointer">
        {{student.ime}}
        {{student.prezime}} {{student.jmbag}}</li>
    </ul>
  </div>
  <div class="row" *ngIf="studentiPaginated" style="padding: 3px">
    <div class="col-6">
      <ngb-pagination (pageChange)=" getNewPages($event)" [pageSize]="pageSize" [collectionSize]="totalElements"
        [(page)]=" page" aria-label="Default pagination">
      </ngb-pagination>
    </div>
  </div>
