<div class="container">
  <div class="row" *ngIf="ocjena && student">
    <div class="card col-12">
      <div class="card-body">
        <div class="card-title">Ime i prezime: {{student.ime}} {{student.prezime}}</div>
        <div>JMBAG: {{student.jmbag}}</div>
        <div>Ocijena: {{ocjena.ocjena}}</div>
        <div>Datum polaganja: {{ocjena.datumPolaganja}} </div>
        <div style="display: flex; justify-content: space-between">
          <div>
            <button style="margin: 3px;" (click)="goBack()" class="btn btn-primary">Go back</button>
            <button style="margin: 3px;" (click)="delete()" class="btn btn-danger">Delete</button>
          </div>
          <button (click)="goEdit()" class="btn btn-success">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
